{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block current %}{{current_count}}{% endblock %}
{% block closed %}{{closed_count}}{% endblock %}

{% block body %}
{% if first %}
<div class="intro">
  <h1 class="logo-header">
    <span class="logo"><img src="{{url_for('static', filename='splash-logo.png')}}" style="padding-right:3px; width: 100px;" /></span>
    <span class="logo">Percent</span><span class="logo">Poll.</span>
  </h1>
</div>
{% endif %}
<div class="row " style="display: flex; height:100vh;">
  <div class="col-sm-6 offset-sm-3">
    <div id="topPad">
      {% if message %}
      <div class="alert alert-warning alert-dismissible fade show " id="alert_in" style="text-align:center;border: 2px solid borderColor;" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="float: right;color:white;">
          <span aria-hidden="true" style="float: right;color:white;">&times;</span>
        </button>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="container-fluid" style="text-align: center;padding-top: 30vh;padding-bottom:30vh;">
    <strong class="typewrite" data-period="2000" data-type='[ "Hi,{{user}}.", "You are In Now.", "Unleash Your Polls."]'>
      <span class="wrap"></span>
    </strong>
  </div>

  <div class="col-sm-6" style="display:flex;">

    <!--bouncing balls
        <section class="wrapper">
	          <div class="flex">
		        <span class="circle-1"></span>
		        <span class="circle-2"></span>
		        <span class="circle-3"></span>
		        <span class="circle-4"></span>
		        <span class="circle-5"></span>
	          </div>
        </section> -->

    <a class="btn btn-primary btn-lg" id="create" href="{{url_for('main.create')}}">Get Started</a>
   
  </div>
   <hr/>
  </div>
  {% endblock %}
