h1 {
 padding-left: 1em;
 font-weight:bold;
}

footer {
  padding-top: 2em;
}
h2 {
   margin: 0.5em 0;
  }
#logo{
 padding-left: 1em;
 	}
#create{
	display: flex;
	height: 50px;
	font-weight:bold;
	margin: 2em;
	justify-content: center;
	align-items: center;
	color:white;
	background-color: blue;
	border:2px;
	}
#card{
	display: flex;
	}
#header{
	background: #90CAF9 !important;
}
#body{
	background: #E3F2FD !important;
}

