h1 {
 padding-left: 1em;
 font-weight:bold;
 color:#303A52;
 font-family:"Raleway",sans-serif;
}

footer {
  padding-top: 2em;
}
h2 {
   font-weight:bold;
   margin: 1em 0;
  }
h3 {
   font-weight:bold;
   margin: 1em 0;
  }
#logo{
 padding-left: 1em;
 	}
#create{
	display: flex;
	height: 50px;
	font-weight:bold;
	margin: 2em;
	justify-content: center;
	align-items: center;
	color:white;
	background-color: #0063B1;
	border:2px;
	}
#view{
	background-color: #0063B1;
	}
#card{
	display: flex;
	height: 50px;
	}
#header{
	background: #90CAF9 !important;
}
#body{
	background: #E3F2FD !important;
}
h4{
	margin: 1em;
	padding-bottom: 2em;
	}
#topPad{
	padding-top: 1em;
	}
#bottomPad{
    padding-bottom:2em;
    }	



input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #0063B1;
  box-sizing: border-box;
}


button {
  background-color: #0063B1;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}


button:hover {
  opacity: 1;
}

.btn.btn-primary {
    color: #fff !important;
    background-color: #9c27b0 !important;
    border-color: #9c27b0;
    box-shadow: 0 2px 2px 0 rgba(156, 39, 176, 0.14), 0 3px 1px -2px rgba(156, 39, 176, 0.2), 0 1px 5px 0 rgba(156, 39, 176, 0.12);
}

.btn.btn-primary:hover {
    box-shadow: 0 14px 26px -12px rgba(156, 39, 176, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(156, 39, 176, 0.2);
}


.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}


img.avatar {
  padding-top:2em;
  width: 30%;
  border-radius: 90%;
}


.container {
  padding: 20px;
}


span.psw {
  float: right;
  padding-top: 16px;
}


@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
} 

.blink-bg{
    display flex;
	color: #fff;
	padding: 10px;
	display: inline-block;
	border-radius: 5px;
	animation: blinkingBackground 2s infinite;
}
@keyframes blinkingBackground{
	0%		{ background-color: #10c018;}
	25%		{ background-color: #1056c0;}
	50%		{ background-color: #ef0a1a;}
	75%		{ background-color: #254878;}
	100%	        { background-color: #04a1d5;}
}

#alert{
    display: flex;
	height: 50px;
	font-weight:bold;
	margin: 2em;
	justify-content: center;
	align-items: center;
	color:white;
	background-color: #ff0f0f;
	border:2px;
	}
	




