{% extends "layout.html" %}

{% block title %}Log In / Register{% endblock %}

{% block body %}
  <h2 class="text-center">Log In / Register</h2>
  <div class="row">
		<div class="col-sm-8 offset-sm-2">
		<div class="shadow-lg mb-5 rounded">
			<div class="jumbotron">
			  <form>
				  <div class="form-group">
					<label for="exampleInputEmail1">Email address</label>
					<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
					<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
				  </div>
				  <div class="form-group">
					<label for="Password">Password</label>
					<input type="password" class="form-control" id="ePassword" placeholder="Password">
				  </div>
				  <div class="row" style ="padding-left:2em">
					  <div class="form-group form-check">
						<input type="checkbox" class="form-check-input" id="loggedIn">
						<label class="form-check-label" for="loggedIn">Remember me</label>
					  </div>
					  <a href="/" style ="padding-left:25em">New registration</a>
				  </div>
				  <a type="submit" class="btn btn-primary" href="/">Submit</a>
				</form>
			</div>
		</div>
	</div>
  </div>
{% endblock %}
