{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block body %}
  
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
    	<h2 class="text-center">Welcome to Percent Poll</h2>
      <div class="jumbotron">
        Hi, you are here?.
        Here you can easily host a poll and get your vote for the poll by sharing the link generated.
        Excited!!? Click on the CREATE A POLL button and start creating your poll.
      </div>
      <a class="btn" id= "create"  href="/create">CREATE A POLL</a>
  </div>
{% endblock %}
