{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block body %}
    {% if first %}
        <div class="intro">
            <h1 class="logo-header">
                <span class="logo"><img src="{{url_for('static', filename='splash-logo.png')}}" style="padding-right:3px; width: 150px;"/></span>
                <span class="logo">Percent</span><span class="logo">Poll.</span>
            </h1>
        </div> 
    {% endif %}
    <div class="row ">
        <div class="col-sm-6 offset-sm-3">
            <div id="topPad">
                {% if message %}
                    <div class="alert alert-warning alert-dismissible fade show " id ="alert_in" style="text-align:center;border: 2px solid {{borderColor}};" role="alert">
                        <strong>{{ message }}</strong>
                        <button type="button" class="close" data-dismiss="alert"  aria-label="Close" style="float: right;color:white;">
                        <span aria-hidden="true" style="float: right;color:white;">&times;</span>
                        </button>
                    </div>
                {% endif %}
            </div>
        </div>
    <div class="container-fluid" style="text-align: center;padding: 180px;">
        <strong class="text-center " id="unleash"  >UNLEASH YOUR POLLS...</strong>
    </div>
    <div class="col-sm-6 offset-sm-3">
        <a class="btn btn-primary btn-lg" id= "create" href="{{url_for('main.create')}}">Get Started</a>
        <hr/>
    </div>
{% endblock %}
