{% extends "layout.html" %}

{% block title %}Log In{% endblock %}

{% block body %}
  <h2 class="text-center">Log In </h2>
  <div class="row">
		<div class="col-sm-6 offset-sm-3">
		<div class="shadow-lg mb-5 rounded">
			
			   <form action="/login" method="post">
			    <div id="topPad">
			        {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="notification is-danger" id ="alert">
                            {{ messages[0] }}
                        </div>
                    {% endif %}
                    {% endwith %}
                  </div>
				  <div class="imgcontainer">
					<img src="static/img_avatar2.png" alt="Avatar" class="avatar">
				  </div>

				  <div class="container">
					<label for="username"><b>Username</b></label>
					<input type="text" placeholder="Enter Username" name="username" required>

					<label for="password"><b>Password</b></label>
					<input type="password" placeholder="Enter Password" name="password" required>

					<button type="submit">Login</button>
					<label>
					  <input type="checkbox" checked="checked" name="remember"> Remember me
					</label>
				  </div>

				  <div class="container" >
					<a type="button" class="cancelbtn" href="/">Cancel</a>
					<span class="psw"><a href="{{url_for('auth.register')}}">New User?</a></span>
				  </div>
				</form> 
			</div>
		</div>
	</div>
  </div>
{% endblock %}
