{% extends "layout.html" %}

{% block title %}Register{% endblock %}

{% block body %}
  <h2 class="text-center">Register</h2>
  <div class="row">
		<div class="col-sm-6 offset-sm-3">
		<div class="shadow-lg mb-5 rounded" id="bottomPad">
			
			   <form action="/register" method="post" >
			    <div id="topPad">
			       {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="notification is-danger" id ="alert">
                            {{ messages[0] }}. Go to <a href="{{ url_for('auth.login',next=next) }}" style="color:#FFFFFF; padding-left:0.5em;"> login page</a>.
                        </div>
                    {% endif %}
                    {% endwith %}
                  </div>
				  <div class="imgcontainer">
					<img src="static/img_avatar2.png" alt="Avatar" class="avatar">
				  </div>

				  <div class="container">
					<label for="uname"><b>Username</b></label>
					<input type="text" placeholder="Enter Username" name="username" required>

					<label for="psw"><b>Password</b></label>
					<input type="password" placeholder="Enter Password" name="password" required>
                    <input type="hidden" name="next" value="{{next}}">
					<button type="submit" style="background-color:#9c27b0;" >Register </button>
					
				  </div>

				</form> 
			</div>
		</div>
	</div>
  </div>
{% endblock %}
