{% extends "layout.html" %}

{% block title %}Vote{% endblock %}

{% block body %}
  <h2 class="text-center">VOTE HERE</h2>
  <form action="/vote" method="post">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
    	<div class="shadow-lg mb-5 rounded">
        	<div class="jumbotron">
            	<div class="text-center">
            		<h4>{{title}}</h4>
            		<hr/>
                      <select class="custom-select custom-select-lg mb-3" name="selected" >
                          <option selected>Select</option>
                          {% for option in pollOption %}
                            {% if 'NONE' not in option %}
                                <option>{{option}}</option>
                            {% endif %}
                          {% endfor %}
                      </select>
	             </div>
             </div>
        </div>
      <button class="btn btn-primary btn-lg" type="submit">DONE</button>
    <a class="btn btn-primary btn-lg" id= "create"  href="/">GO HOME</a>
    </div>
  </div>
  </form>
{% endblock %}
